*
{
    box-sizing: border-box;
}
img
{
    display: block;
    max-width: 100%;
}
@media (min-width:360px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: black;
        color: white;
        margin-left: -8px;
        margin-top: -9px;
        width:360px;
        height: 90px;
    }
.icono_menu
{
    display: block;
    width: 36px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 67px;
    left: -100%;
    width: 100%;
    transition: all 1s;
    background: black;
    z-index: 1000;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: black;
}
.menu_link_1
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_2
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_3
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_4
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_1:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/link_1.jpg);
    opacity: 0.7;
}
.menu_link_2:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/media.jpg);
    opacity: 0.7;
}
.menu_link_3:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/cds.jpg);
    opacity: 0.7;
}
.menu_link_4:hover
{
    color: rgb(247, 250, 253);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-image: url(imagenes/item_4.jpg);
    opacity: 0.7;
}
.mostrar
{
    left: 0;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.Noticias
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 920px;
    margin-top: 10px;
    margin-bottom: 100px;
    display: block;
    position: relative;
}
.tarjeta1
{
    width: 270px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 45px;
    margin-bottom: 30px;
    position: relative;
}
.tarjeta1:active
{
    scale: 0.98;
}
.fondo1
{
    width: 270px;
    height: 280px;
    opacity: 0.9;
    filter: brightness(50%);
    position: absolute;
    background-size: cover;
    image-rendering: optimizeQuality;
}
.Texto_Principal
{
    width: 180px;
    height: 80px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    position: static;
    color: whitesmoke;
    position: absolute;
    top: 130px;
    left: 50px;
    background-color: rgba(50, 49, 49, 0.425);
    border-bottom: 3px solid whitesmoke;
    
}
.Texto_Principal:hover
{
    color: rgb(255, 255, 66);
    cursor: pointer;
}
.texto2
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 13px;
    color: white;
    background-color: rgba(50, 49, 49, 0.425);
    top: 10px;
    left: 10px;
    position: absolute;
}

.tarjeta2
{
    width: 270px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 45px;
    margin-bottom: 30px;
    
}
.fondo2
{
    width: 270px;
    height: 280px;
    opacity: 0.9;
    filter: brightness(40%);
    image-rendering: optimizeQuality;
}
.Texto_Principal2
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    position: static;
    color: whitesmoke;
    position: absolute;
    top: 520px;
    left: 100px;
    background-color: rgba(50, 49, 49, 0.425);
    border-bottom: 3px solid whitesmoke;
    
}
.Texto_Principal2:hover
{
    color: rgba(255, 255, 0, 0.534);
    cursor: pointer;
}
.texto3
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 13px;
    color: white;
    background-color: rgba(50, 49, 49, 0.425);
    top: 390px;
    left: 50px;
    position: absolute;

}
.tarjeta3
{
    width: 270px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 45px;
    margin-bottom: 40px;
}
.fondo3
{
    width: 270px;
    height: 280px;
    opacity: 0.85;
    filter: brightness(60%);
    image-rendering: optimizeQuality;
}
.Texto_Principal3
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    position: static;
    color: whitesmoke;
    position: absolute;
    top: 820px;
    left: 98px;
    background-color: rgba(50, 49, 49, 0.425);
    border-bottom: 3px solid whitesmoke;
    
}
.Texto_Principal3:hover
{
    color: rgba(255, 255, 0, 0.534);
    cursor: pointer;
}
.texto4
{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 13px;
    color: white;
    background-color: rgba(50, 49, 49, 0.425);
    top: 700px;
    left: 50px;
    position: absolute;

}
.mas{
    width: 100%;
    height: 600px;
    background: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;

}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
  margin-top: 30px;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 300px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  image-rendering: optimizeQuality;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
  background: black;
  border-radius: 0px 0px 8px 8px;
}
.card .profile-details img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  filter: contrast(120%);
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: rgba(240, 248, 255, 0.649);
}

.swiper-navBtn {
  color: aliceblue;
  height: 30px;
  width: 30px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

@media screen and (max-width: 300px) {
  .swiper-navBtn {
    display: none;
  }
}
.pie
{
    width: 103%;
    height: 100%;
    margin-left: -8px;
    background: black;
    color: white;
    display: inline-block;
    padding-bottom: 0;
}
.encabezado
{
    width: 100%;
    height: 30px;
    text-align: center;
    font-family:'Bebas Neue', sans-serif;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.social
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    display: flex;
    margin-left: 25%;
    
}
.social img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 15px;
}
.social img:hover
{
    cursor: pointer;
}
.derechos
{
    width: 100%;
    height: 30px;
    margin-top: 13px;
    color: #fff;
    text-align: center;
    font-family:'Bebas Neue', sans-serif;
}
.logo_fin
{
    width: 100%;
    height: 65px;
}
.logo_fin img{
width: 130px;
height: 65px;
margin-left: 33%;
}
}

@media (min-width:576px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: black;
        color: white;
        margin-left: -8px;
        margin-top: -9px;
        width: 576px;
        height: 90px;
    }
.icono_menu
{
    display: block;
    width: 36px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 67px;
    left: -100%;
    width: 100%;
    transition: all 1s;
    background: black;
    z-index: 1000;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: black;
}
.menu_link_1
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_2
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_3
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_4
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
}
.menu_link_1:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/link_1.jpg);
    opacity: 0.7;
}
.menu_link_2:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/media.jpg);
    opacity: 0.7;
}
.menu_link_3:hover
{
    color: rgb(247, 250, 253);
    background-image: url(imagenes/cds.jpg);
    opacity: 0.7;
}
.menu_link_4:hover
{
    color: rgb(247, 250, 253);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-image: url(imagenes/item_4.jpg);
    opacity: 0.7;
}
.mostrar
{
    left: 0;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
}
